<div class="center_parent">
    <div class="center_child border">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <label>
                Fournisseur d'énergie :
                <input formControlName="energySupplier">
            </label>
            <label>
                Nom de l'offre :
                <input formControlName="offerName">
            </label>
            <button (click)="onCancel()" class="margin1pc" type="button">Annuler</button>
            <button class="margin1pc" type="submit">Sauvegarder</button>
        </form>
    </div>
</div>