<div class="center_parent ">
    <div class="center_child border">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <label>
                Fournisseur d'énergie :
                <input formControlName="energySupplier">
            </label>
            <label>
                Nom de l'offre :
                <input formControlName="offerName">
            </label>
            <app-energy-estimation
                    [energyFormTypedElectricity]="currentEnergyEstimationComponent.energyFormTypedElectricity"
                    [energyFormTypedGas]="currentEnergyEstimationComponent.energyFormTypedGas"></app-energy-estimation>
            <button class="margin1pc" type="reset">Réinitialiser</button>
            <button class="margin1pc" type="submit">Sauvegarder</button>
        </form>
    </div>
</div>