<button (click)="onDeleteAll()" class="margin1pc">
    Supprimer les estimations
    <i class="material-icons white">delete</i>
</button>

<table [dataSource]="energyEstimations" class="width100pc" mat-table>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    <ng-container matColumnDef="offerName">
        <th *matHeaderCellDef mat-header-cell>Nom</th>
        <td *matCellDef="let element" mat-cell>{{ element.offerName }}</td>
    </ng-container>

    <ng-container matColumnDef="energySupplier">
        <th *matHeaderCellDef mat-header-cell>Fournisseur</th>
        <td *matCellDef="let element" mat-cell>{{ element.energySupplier }}</td>
    </ng-container>

    <ng-container matColumnDef="energyPrice">
        <th *matHeaderCellDef mat-header-cell>Electricité</th>
        <td *matCellDef="let element" mat-cell
            title="{{ element.electricity.total.subscription.monthlyPrice }} }}€/month + {{ element.electricity.total.kilowatt.monthlyPrice }}€/KW">
            {{ element.electricity.total.subscription.annualPrice + element.electricity.total.kilowatt.annualPrice | roundedUp }}
            €
        </td>
    </ng-container>

    <ng-container matColumnDef="gasPrice">
        <th *matHeaderCellDef mat-header-cell>Gaz</th>
        <td *matCellDef="let element" mat-cell
            title="{{ element.gas.total.subscription.monthlyPrice }}€/month + {{ element.gas.total.kilowatt.monthlyPrice }}€/KW">
            {{ element.gas.total.subscription.annualPrice + element.gas.total.kilowatt.annualPrice | roundedUp }}€
        </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
        <th *matHeaderCellDef mat-header-cell>Total</th>
        <td *matCellDef="let element" mat-cell>
            {{
                element.electricity.total.subscription.annualPrice + element.electricity.total.kilowatt.annualPrice
                + element.gas.total.subscription.annualPrice + element.gas.total.kilowatt.annualPrice
                    | roundedUp
            }}€
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>Actions</th>
        <td *matCellDef="let element" mat-cell>
            <button (click)="onDelete(element)" class="margin1pc">
                <i class="material-icons white">delete</i>
            </button>
            <button (click)="onEdit(element)" class="margin1pc">
                <i class="material-icons white">edit</i>
            </button>
        </td>
    </ng-container>


</table>